<div class="container-fluid">
  <div class="row">
    <create class="col-md-7"></create>
    <list class="col-md-5" feature="$ctrl.featureItem" items="[{
    id: 1,
    cocktailName: 'Irish Spring',
    instructions: 'Pour all ingredients (except orange slice and cherry) into a collins glass over ice cubes. Garnish with
    the slice of orange, add the cherryon top, and serve.',
    thumbnail: 'https://www.thecocktaildb.com/images/media/drink/sot8v41504884783.jpg',
    rating: 5,
    },
    {
    id: 2,
    cocktailName: 'crown with lime',
    instructions: 'pour into glass with ice, add lime wedge',
    thumbnail: 'https://www.thecocktaildb.com/images/media/drink/ql7bmx1503565106.jpg',
    rating: 5,
    },
    {
    id: 5,
    cocktailName: 'French75',
    instructions: 'sugar, then liquer, then bubbly, rub rim with lemon twist!',
    thumbnail:
    'https://www.thecocktaildb.com/images/media/drink/4qnyty1504368615.jpg',
    rating: 5,
    },
    {
    id: 6,
    cocktailName: 'fancy',
    instructions: 'just put a lil of both into a champagne flute to feel fancy',
    thumbnail: 'https://images.unsplash.com/photo-1519593113671-52cd2c0ff166?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=de6642a8ae56eed4b289b6e7b09956d4&auto=format&fit=crop&w=934&q=80',
    rating: 5,
    }, 
    {
    id: 3,
    cocktailName: 'Incredible Hulk',
    instructions: 'mix it all up and hope for the best!',
    thumbnail: '98590_Incredible-Hulk-1x-Hennessy-VS-07L-40-Vol---1x-Hpnotiq-Liqueur-07L-17-Vol_4.jpg',
    rating: 5,
    }]"/>
  </div>
  <search result="$ctrl.searchResults">
</div>